<div class="Socials">
    {% for social in socials %}
        <a href="{{ social.link }}" target="_blank" class="Social">{{ social.title }}</a>
        {% if loop.last %}
            <span>.</span>
        {% else %}
            <span class="Social_Separator">/</span>
        {% endif %}
    {% endfor %}
</div>