$images-path: "../img";
$font-path: "../fonts";

// Fonts map to generate automatically @font-face rules in base/_fonts.scss
// Each entry must have the following pattern :
// "file-name": (
//     "family": font-family,
//     "style": font-style,
//     "weight": font-weight
// )
$fonts: (
	"Lato regular": (
		"family": "Lato",
		"style": normal,
		"weight": normal,
	),
	"Lato 700": (
		"family": "Lato",
		"style": normal,
		"weight": bold
	),
	"Lato 900": (
		"family": "Lato",
		"style": normal,
		"weight": 900
	),
	"Open Sans regular": (
		"family": "Open Sans",
		"style": normal,
		"weight": normal
	),
	"Open Sans 700": (
		"family": "Open Sans",
		"style": normal,
		"weight": bold
	),
	"Open Sans 800": (
		"family": "Open Sans",
		"style": normal,
		"weight": 800
	)
);

// Colors map
// A color can be retrieved using get-color() function
// See utils/_functions.scss for more info
$colors: (
    "main": #379A89,
);

// Breakpoints map to use with include-media
// See https://github.com/eduardoboucas/include-media
$breakpoints: (
    "desktop": 1200px,
    "tablet": 768px
);