.Nav-open {
    .Nav {
        right: 0;

        .Nav_Link a {
            opacity: 1;
            right: 0;

            @for $i from 1 through 4 {
                &.Nav_Link-#{$i} {
                    transition-delay: $i * 0.25s;
                }
            }
        }
    }
}

.Nav {
    height: 100%;
    background-color: get-color("main");
    width: 640px;
    position: fixed;
    top: 0;
    right: -640px;
    padding: 100px 75px 100px 0;
    transition: all .45s ease-in-out;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    text-align: right;
    z-index: 5;
}

.Nav_Links {
    position: relative;
    float: right;
    width: 250px;
}

.Nav_Side {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    transform-origin: 0;
    transform: rotate(-90deg) translate(-100%, 0);
    letter-spacing: -1px;

    a {
        color: #000;
        display: inline-block;

        &:hover {
            opacity: 0.5;
        }
    }
}

.Nav_Link {
    display: block;
    font-size: 38px;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    opacity: 1;
    transition: opacity .15s ease-out;
    letter-spacing: -2px;
    overflow: hidden;

    &:hover {
        opacity: 0.6;
    }
    
    a {
        position: relative;
        right: -125px;
        opacity: 0;
        color: #000;
        transition: all 0.5s ease-out;
        transition-delay: 0s;
    }
}

.Nav_Contacts {
    position: relative;
    width: 275px;
    float: right;
    padding-right: 50px;
}

.Nav_Contact {
    padding-left: 20px;
}

.Nav_ContactTitle {
    font-size: 14px;
    margin: 20px 0 10px;
}

.Nav_ContactValue {
    color: #000;
    font-weight: normal;

    a {
        color: #000;
        font-weight: 700;

        &:hover {
            opacity: .5;
        }
    }
}