<header class="Header js-header">
    <a class="Header_Logo js-logo-btn" href="{{ path('homepage') }}" title="Jean-baptiste Châteaux"></a>
    <button class="Header_Menu js-nav-btn">
        <span class="Header_MenuLabel">Menu.</span>
        <span class="Header_MenuIco">
            <span class="Header_MenuIcoLine"></span>
            <span class="Header_MenuIcoLine"></span>
            <span class="Header_MenuIcoLine"></span>
        </span>
    </button>
</header>