@font-face {
    font-family: "Open Sans";
    src: url("Open Sans regular.eot"); /* IE9 */
    src: url("Open Sans regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Open Sans regular.woff") format("woff"), /* chrome, firefox */
    url("Open Sans regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Open Sans regular.svg#Open Sans") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


